/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-button-border-color: #D9D9D9;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: white;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.fa-solid {
    color: var(--main-color);
}

a {
    text-decoration : none;
    color: black;
}

/*card*/

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 5px;
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-txt {
    padding-top: 5px;
}

/*font*/

.big-bold {
    font-weight: 700;
}
.mid-bold {
    font-weight: 600;
}
.huge-size {
    font-size: 22px;
}
.big-size {
    font-size: 18px;
}
.low-size {
    font-size: 14px;
}

/*header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    height: 79px;
}

.logo {
    height: 19px;
    padding: 30px 50px 30px 0px;
    display: flex;
}

nav {
    display: flex;
    gap: 69px;
}

.nav-option {
    display: flex;
    flex-direction: column;
}

.nav-option-bar {
    height: 2px;
    width: 100%;
}

.nav-option-text {
    height: 19px;
    padding-top: 14px;
}

.nav-option:hover .nav-option-bar {
    opacity: 1;
    background-color: var(--main-color);
}

.nav-option:hover .nav-option-text {
    color: var(--main-color);    
}

/*section search*/ 

.section-search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-search-div-search {
    display: flex;
    border-radius: 15px;
    width: fit-content;
    width: 377px;
    height: 49px;
    align-items: center;
    background-color: var(--main-bg-color);
}

.search-div-logo {
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div-logo i {
    width: 50px;
    padding-left: 18px;
}

.search-div-logo .fa-solid {
    color: black;
}

.search-input{
    height: 47px;
    width: 195px;
    border: 1px solid var(--filter-bg-color);
    border-right: 0px;
    border-left: 0px;
    padding-left: 24px;
}

.search-div-button {
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    height: 49px;
    width: 132px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-div-button span{
    padding: 14px 16px;
    height: 21px;
    width: 100px;
}

.search-div-button .fa-solid {
    color: white;        
}

.only-mobile {
    visibility: hidden;
}

.section-search-div-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filter-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    border-radius: 25px;
    border: 2px solid var(--filter-button-border-color);
    height: 46px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.filter-button:hover{
    background-color: var(--filter-bg-color);
}

.filter-button i{
    padding-left: 19px;
}

.filter-button span{
    padding-right: 19px;
}

.section-search-div-info {
   display: flex;
   align-items: center;
   gap: 10px;
}

.section-search-div-info-border{
    border-radius: 100%;
    height: 24px;
    width: 24px;
    border: 1px solid var(--filter-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*card container*/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements {
    border-radius: 20px;
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-width: 0;
    gap: 30px;
}

.hebergements-cards a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    height: 116px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.populaires {
    border-radius: 20px;
    width: 32%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.activites-cards img {
    width: 100%;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    height: 439px;
    border-radius: 20px;
}

.activites-cards img{
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards .card-content{
    display: flex;
    height: 59px;
    align-items: center;
}

.activites-cards span{
    padding-left: 19px;
}

/*footer*/

footer {
    background-color: var(--main-bg-color);
    width: 100%;
    margin-top: 35px;
    display: flex;
}

footer ul {
    width: 446px;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .section-search-div-filter{
        flex-direction: column;
        align-items: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .activites-cards .card {
        height: 270px;
        padding: 0px;
    }

    .activites-cards img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    
    .main-container {
        padding: 0px;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 115px;
    }

    .logo {
        width: 120px;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .logo-img{
        padding: 30px;
        margin-top: 10px;
        height: 19px;
    }

    nav {
        width: 100%;
        gap: 0px;
    }

    nav a{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-option {
        flex-direction: column-reverse;
        width: 100%;
        gap: 15px;
    }

    .nav-option *{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-option-bar{
        background-color: var(--main-bg-color);
    }

    .section-search {
        padding: 0px 30px;
    }

    .section-search-div-search{
        width: 100%;
        justify-content: space-between;
    }

    form {
        width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .filter-buttons {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .filter-button {
        width: 45%
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 35px;
    }

    .hebergements {
        background-color: white;
        gap: 15px;
        padding-top: 0px;
    }

    .hebergements-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap:15px;
    }

    .populaires {
        border-radius: 0px;
        gap: 15px;
    }

    .populaires-cards {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .activites {
        padding-left: 30px;
        padding-right: 30px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
    }

    .activites-cards .card {
        height: fit-content;
        width: 100%;
    }

    .activites-cards img{
        height: 141px;
    }

    .activites-cards .card-content{
        height: 59px;
    }

    .only-mobile {
        visibility: visible;
        max-width: 50px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .only-no-mobile {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        width: auto;
        padding: 30px;
        margin-top: 30px;
    }

    footer ul {
        padding: 0;
    }

}